<div class="mdl-card__title">
  <h2 class="mdl-card__title-text">{{ title }}</h2>
</div>
<div class="mdl-card__supporting-text">
  <div><strong>Artist:</strong> {{ artist }}</div>
  <div><strong>Genre:</strong> {{ genre }}</div>
  <div><strong>Year:</strong> {{ year }}</div>
  <div><strong>Tracks:</strong> {{ trackCount }}</div>
</div>
<div class="mdl-card__actions mdl-card--border">
  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
     href="#/playlists/{{ uid }}">Open</a>
  <button class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect js-delete">
    Delete
  </button>
</div>
